html, body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Inter', sans-serif;
     color: white;
}

#header {
    width: 550px;
    height: 260px;
    margin: 0 auto;
    padding-top: 53px;
    background: linear-gradient(246.26deg, #585DFE 0%, #FB3796 100%);
}

#header h2 {
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 38px;
    letter-spacing: -0.05em;
} 

#main-input {
    width: 500px;
    border: none;
    background: transparent;
    font-weight: 800;
    font-size: 97.5723px;
    line-height: 24px;
    color: #ffffff;
    text-align: center;
}

#main {
    margin: 0 auto;
    padding-top: 43px;
    width: 550px;
    height: 290px;
    background: #1F2937;
}

#main h4 {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}

#main p {
    color: #D2D2D2;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}
